{
  domain = "home.yourdomain.com";
  email = "your-email@example.com";

  linode = {
    apiToken = "your-linode-api-token-here";

    # External subdomains updated on Linode via DDNS
    externalSubdomains = [ "traefik" "adguard" ];
  };
}